<h2>Logowanie</h2>
<form asp-action="Login" method="post">
    <div>
        <label>Email:</label>
        <input name="email" />
    </div>
    <div>
        <label>Hasło:</label>
        <input name="password" type="password" />
    </div>
    <button type="submit">Zaloguj</button>
</form>

<p>Nie masz konta? <a href="./Views/Account/Register.cshtml">Zarejestruj się</a></p>
